<section class="hero is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                MutualFund Nav
            </h1>
            <h2 class="subtitle">
                Your one-stop nav solution
            </h2>
        </div>
    </div>

    <div class="hero-footer">
        <div class="hero-foot">
            <div class="container">
                <nav class="tabs is-boxed">
                    <ul>
                        <li>
                            <a [routerLink]="['/app-dashboard']">Your Dashboard</a>
                        </li>
                        <li>
                            <a [routerLink]="['/app-asd']">Mutual Fund Details</a>
                        </li>
                        <li>
                            <a [routerLink]="['/app-dashboard']">Add Member</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>